// h1{
//     background-color:rgb(180, 236, 223);
//     margin: 0px;
// }

// div{
//     padding-left: 0px;
//     padding-right: 0px;
//     position: fixed;

// }


// * {
//     font-family: 'Fasthand', cursive;
// }

.container-fluid {

    position: fixed;
    height: 50px;

}

.text {
    margin-left: 2vw;
    color: white;
    float: left;

}

.bi-tsunami {

    float: left;
    height: 50px;
    width: 35px;
    color: white;
}


.searchcontrol {
    margin-left: 2px;
    width: 30%;
    // float: right;
    position: fixed;
    margin-left: 700px;
    margin-top: 10px;
}

// svg{
//     position: absolute;
//     left: 1380px;
// }

#searchicon {
    position: absolute;
    // left: 1340px;
    right: 160px;
    margin-top: 15px;

}

#cart {
    //    position: absolute;
    //    right: 20px;

    height: 50px;
    width: 35px;
    color: white;
    position: fixed;
    right: 20px;



}