.container{
    // border: 1px solid black;
    margin-top:1vw;
    
    
}

.container-fluid{
    border:1px solid black;
    position: fixed;
    // margin-top:3vw;
    // margin-bottom: 10px ;
    bottom: 0;
   
}